<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rifatul.trackroom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackRoom"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ActivityCourseDetailed"
            android:exported="true" />

        <activity
            android:name=".ActivityViewPostCreated"
            android:exported="true" />

        <activity
            android:name=".ActivityCourseDetailedCreatedClass"
            android:exported="true" />

        <activity
            android:name=".ActivityCreateQuiz"
            android:exported="true" />

        <activity
            android:name=".ActivityDetailedPostCreate"
            android:exported="true" />

        <activity
            android:name=".ActivityDetailedPostPrivate"
            android:exported="true" />

        <activity
            android:name=".ActivityViewResultCreated"
            android:exported="true" />

        <activity
            android:name=".ActivityViewResultPrivate"
            android:exported="true" />

        <activity
            android:name=".ActivityViewQuizStatsCreated"
            android:exported="true" />

        <activity
            android:name=".ActivityDetailedQuizCreate"
            android:exported="true" />

        <activity
            android:name=".ActivityDetailedQuizPrivate"
            android:exported="true" />

        <activity
            android:name=".ActivityTakeQuiz"
            android:exported="true" />

        <activity
            android:name="ActivityInviteStudent"
            android:exported="true" />

        <!--activity
            android:name=".teacher.ActivityUploadMaterial"
            android:exported="true" />
        <activity
            android:name=".teacher.ActivityViewAssignmentTeacher"
            android:exported="true" -->
        <activity
            android:name=".ActivityCreateClass"
            android:exported="true" />

        <activity
            android:name=".ActivityJoinClass"
            android:exported="true" />

        <activity
            android:name=".ActivityPost"
            android:exported="true" />

        <activity
            android:name=".ActivityPostPublic"
            android:exported="true" />

        <activity
            android:name=".ActivityPublicClass"
            android:exported="true" />

        <activity
            android:name=".ActivityLogin"
            android:exported="true" />

        <!--activity
            android:name=".teacher.ActivityDetailedClassroomViewTeacher"
            android:exported="true"
            android:label="Detailed Classroom View" -->

        <activity
            android:name=".ActivityEditProfile"
            android:exported="true" />

        <activity
            android:name=".ActivityEditBio"
            android:exported="true" />

        <activity
            android:name=".ActivityTrackroom"
            android:exported="true"
            android:label="@string/title_activity_trackroom"
            android:theme="@style/Theme.TrackRoom" />
        <activity
            android:name=".ActivityRegister"
            android:exported="true"
            android:label="Register Now" />
        <activity
            android:name=".ActivityMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>